*{
    padding: 0;
    margin: 0;
}
body{
    background-color: lightskyblue;
  border: 10px lightgrey solid;
    margin: 10px auto;
}
p{
    color: whitesmoke;
}

header{

    background-color:lightcoral;
    position: fixed;
    top: 0;
    width: 98%

}
section{

    padding: 5px 30px;
    margin-top: 100px;    
    font-family: Arial, Helvetica, sans-serif;
}
article{
    line-height: 25px;
    text-align: justify;
    font-size: 15px;

}

.title{
    font-size: 23px;
    font-weight: bold;
}

.date{
    text-transform: capitalize;
    font-style: italic;
    font-size: 14px;
}
/* changing the nature */
nav > ul >li{
    padding: 10px 3px;
    font-size: 20px;
    display: inline-block;
}

nav > ul > li> a{
    text-decoration: none;
} 
nav > ul > li> a:hover,a:active{
    color: olive;
}
nav > ul > li:hover {
    background-color:honeydew;
    

}
img{
 width:400px;
    height: 400px;
    border-radius: 100%;
    float: left;
    margin: right;
}
#clear{

    clear: left;
}
input{
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-color: linen;
    width: 200px;
    padding: 12px 20px;
   box-sizing: border-box;
}
input:focus{
    width: 25%;
}
 
div{
    border: none;
    border-bottom: 20px solid lightslategrey;

}
.clear{
    width: 95%;
    padding: 25px;
    border: 3px solid navy;
    margin: 0px;
}
h3{
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 50px;
    position: relative;
    padding-bottom: 0rem;

}
