*{
    padding: 0;
    margin: 0;
}
body{
    background-color:linen;
    color: white;
    margin: 10px auto;
}
p{
    color: honeydew;
    font-size: 18px;
}

header{

    background-color:lightseagreen;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    

}

section{
    background-color: rgb(3, 3, 70);
    padding: 10px 30px;
    margin: 40px 100px 10px 100px;  
    font-family: 'Times New Roman', Times, serif;
}
article{
    line-height: 25px;
    text-align: justify;
    font-size: 15px;

}

.title{
    color: lightsalmon;
    font-size: 23px;
    font-weight: bold;
}
section > article > ul >  li{
    font-size: 20px;
    color: lightseagreen;
}

section > article > ul >  li > p{
    font-size: 20px;
}

.date{
    text-transform: capitalize;
    font-style: italic;
    font-size: 14px;
}
/* changing the nature */
nav > ul >li{
    padding: 10px 3px;
    font-size: 20px;
    display: inline-block;
}

nav > ul > li> a{
    color: White;
    text-decoration: none;
} 

nav > ul > li:hover {
    background-color:honeydew;
    

}
nav > ul > li> a:hover,a:active{
        color: cyan;
        font-size: 25px;
    }

img{
 width:400px;
    height: 400px;
    border-radius: 25%;
    float: left;
    margin: right;
}
#clear{

    clear: left;
}
input{
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-color: linen;
    width: 200px;
    padding: 12px 20px;
   box-sizing: border-box;
}
input:focus{
    width: 25%;
}
 

.clear{
    width: 95%;
    padding: 25px;
    margin: 0px;
}
/* h3{
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 50px;
    position: relative;
    padding-bottom: 0rem;

} */

section.About{
display: flex;
border: none;
border-bottom: 1p solid x white;

}

.row1, .row2,.row3{
    background-color: lightcyan;
    display: flex;  
    border-bottom: 1px solid white;; 
}
.Gallery{
    background-color: greenyellow;
    color: rgb(5, 5, 88);
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    padding: 100px;
}
div.pic{
    margin: 5px;
    border-radius: 50px;
    float: left;
    width: 100%;
}
div.pic img{
    width: 100%;
    height: 400px;
}
.ConF{
    display: flex;
}

.Ques > ul > li{
    padding: 30px;
   
}

.Ques > ul > li > a{
    text-decoration: none;
    color: burlywood;
    font-size: 25px;
}

.Ques > ul > li > a:hover{
    color: coral;
    font-size: 30px;
}
